<div class="row g-3 mb-3 py-2">
    <div class="col-sm-5">
      <label for="brithday" class="form-label">Select brithday and hit enter</label>
      <input type="date" class="form-control" name="brithday" id="dateInput">
    </div>
    <div class="col-sm-10">
      <button class="w-100 btn btn-primary" id="myBtn">Calculat</button>
    </div>
    <div class="col-sm-10">
        <h4 class="text-success" id="demo"></h4>
    </div>
</div>
<script>
    document.getElementById("myBtn").addEventListener("click", displayDate);
    function displayDate() {
        let brithday = document.getElementById('dateInput').value;
        let age = getAge(brithday);
    }

    function getAge(dateString) 
    {
        if(dateString === ""){
            age = "fields are empty. insart value then Calculat"
            document.getElementById("demo").innerHTML = age;
            return 0;
        }
        const today = new Date();
        const birthDate = new Date(dateString);

        let years = today.getFullYear() - birthDate.getFullYear();
        let months = Math.abs(today.getMonth() - (birthDate.getMonth() + 1));
        let d = 30 - birthDate.getDate();
        let days = today.getDate() + d;

        if(days >= 30){
            days = days - 30;
            months = months + 1;
        }

        if (months < 0 || (months === 0 && today.getDate() < birthDate.getDate())) 
        {
            years--;
        }
        age = "Your age is " + years + " years " + months + " months " + days + " days."
        document.getElementById("demo").innerHTML = age;
        return years;
    }
</script>
