{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Coustom CSS -->
    <link href="{% static 'css/global.css' %}" rel="stylesheet">

    <title>TheCalculatorCafe</title>
  </head>
  <body>
    {% include "navber.html" %}
    <h1>welcome back mohammud nazmul hoque</h1>
    {% include "footer.html" %}

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/global.js' %}"></script>
  </body>
</html>
