<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="fs-4 text-dark text-decoration-none">The Calculator
        <span class="text-white">Cafe</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'index' %}">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'calculator_about' %}">About</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'calculator_contact' %}">Contact</a>
        <a class="py-2 text-dark text-decoration-none" href="{% url 'calculator_privicy' %}">Privicy</a>
      </nav>
    </div>
  </header>
</div>