@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Index Page Css */
header span {
  padding: .125rem;
  background-color: gray;
  border-radius: .25rem;
}

header nav a:hover {
  color: gray !important;
}

.calculator-header {
    max-width: 700px;
}

.calculator-list a {
  text-transform: capitalize;
  text-decoration: none;
}

.calculator-list a:hover {
  text-decoration: underline;
}
.p-fs {
  font-size: 1.1rem !important;
}